/* =============================================
   ADMIN DASHBOARD
   ============================================= */

/* Sidebar */

.sidebar {
    box-shadow: 4px 0 20px rgba(0, 0, 0, 0.08);
    background: #ffffff;
}

#sidebar-menu {
    scrollbar-width: thin;
    scrollbar-color: #fbbf24 #f8f9fa;
}

.active-menu {
    background-color: #fffbeb !important;
    color: #372a1f !important;
    border: 1px solid #fee685 !important;     
    border-radius: 12px;
    
}

.menu-item {
    transition: all 0.25s ease;
    border-radius: 12px;
}

.menu-item:hover {
    background-color: #f8f9fa;
}

.menu-item,
.active-menu {
    text-decoration: none !important;
}

.menu-item i,
.active-menu i {
    color: #374151;
    width: 24px;
}
/*nadvar top*/

.search-input {
    height: 52px;
    border-radius: 9999px !important;
    background-color: #f8f9fa !important;
    border: 1px solid #e5e5e5 !important;
}

.search-input:focus {
    box-shadow: 0 0 0 4px #de7b0a1a;
    background-color: #ffffff !important;
}

.avatar {
    font-size: 22px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

#main-content {
    background-color: #f8f9fa;
}

body {
    font-family: 'Inter', system-ui, -apple-system, sans-serif;
    font-weight: 400;
    letter-spacing: -0.01em;
}

h4 {
    font-weight: 700;
    letter-spacing: -0.8px;
    font-size: 1.30rem;
    color: #1f2937;
}


small {
    font-weight: 500;
    font-size: 0.875rem;
    letter-spacing: -0.2px;
    color: #64748b;
}


.logo-bg {
    background-color: #de7b0aea !important; 
    
}

.camp-bg {
    background-color: #de7b0aea !important;
}

.user-bg {
     background-color: #de7b0aea !important;
}